{% extends 'base.html' %}
{% block head %}
<title>Delete user</title>
{% endblock %}
<h1>Delete Reservation</h1>
{% block body %}
    <div class="container" style="padding-right: 20%; padding-left: 20%">
    <p>Are you sure you want to delete user?</p>
        <form action="{% url 'milo_app:delete-user' view.kwargs.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Yes, delete.</button>
            <a class="btn btn-success" href="{% url "milo_app:all-users" %}" role="button">No, go back.</a>
        </form>
    </div>
{% endblock %}