{% extends 'base.html' %}
{% block head %}
<title>Users list</title>
{% endblock %}
{% block body %}
{%load user_tags%}
<ul>
<a class="btn btn-success" href="{% url "milo_app:add-user" %}" role="button">Add user</a>
<div style="padding-top: 30px">
<ul>
    {% for user in user_list %}
        <li style="padding-top: 10px">
        {% is_under_13 user.birthday_date as flag %}
        {% bizz_fuzz user.random_number_field as bizzfuzz %}
            <p style="font-size: 20px">{{ user.username }} - {{ flag }} - {{ bizzfuzz }}</p>
        <a class="btn btn-success" href="{% url 'milo_app:edit-user' user.pk %}">Edit User</a>
        <a class="btn btn-danger" href="{% url 'milo_app:delete-user' user.pk %}">Delete User</a>
        <a class="btn btn-warning" href="{% url 'milo_app:user-details' user.pk %}">Show Details</a>
    {% empty %}
        <li>No users yet.</li>
    {% endfor %}
    </li>
</ul>
</div>
</ul>
{% endblock %}

