<html>
    <head>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        {% block head %}
        <meta charset="utf-8">
        <title>Base head</title>
        {% endblock %}

        <script>
          $(function() {
            $( ".datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
          });
        </script>
</head>
<body>
    <div class="container" style=" min-width: 100%; margin-top: 30px">
    {% load crispy_forms_tags %}
        {% block body %}

        {% endblock %}
    </div>
</body>
</html>